.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

<<<<<<< HEAD
@media screen and (max-width: 879px) {
=======
@media screen and (max-width: 899px) {
>>>>>>> main

  .header {
    max-width: 320px;
    min-height: 56px;
    margin-top: 28px;
<<<<<<< HEAD
  }

}
=======

  }

}

>>>>>>> main
